#board {
    width: 400px;
    float: left;
    margin: 10px;
}
.container{
    width: 200px;
    float: left;
    margin: 10px;
    margin-left: 0px;
}
.mytable {
    height: 360px !important;
    overflow-y: scroll;
    border: 1px solid #B58863;
}
#currentScore {
    font-size: large;
}
.mytable table tr:first-child{
    border: none;
}
.mytable table tr td{
    line-height: 10px;
    border-color: #B58863;
}
.mytable table tr td:first-child {
    max-width: 10px;
    background-color: #F0D9B5;
    text-align: left;
}
.mytable table td p.dim{
    font-size: x-small;
    float: right;
    color: grey;
}
.buttons {
    text-align: center;
    margin: 10px;
}
.mytable table tr td p {
    float: left;
}
button {
    margin-left: -4px;
    background-color: #F0D9B5;
    border-color:  #B58863;
    /*border: 1px solid;*/
}
