/*--------------------------------
    BODY
---------------------------------*/
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #546474;
}

a {
    color : #FDFDFD;
}

a:focus, a:hover {
    color: #2E3E4E;
    text-decoration: underline;
}

/*--------------------------------
    NAVBAR
---------------------------------*/
.navbar-inverse {
    background-color: #2E3E4E;
    border-color: #333333;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #F1F1F1;
    background-color: #546474;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #333333;
}

/*--------------------------------
    JUMBOTRON
---------------------------------*/
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron a {
    color : #333333;
}
/*--------------------------------
    LIST GAME PART
---------------------------------*/

#container-list-games {
    margin-top : 30px;
    /*text-align: center;*/
}
#list-games tr.odd { background-color: #F0D9B5; }
#list-games tr.even { background-color: #f4e4ca; }
#list-games tr.odd .sorting_1, #list-games tr.odd .sorting_2, #list-games tr.odd .sorting_3 { background-color: #eccea0; }
#list-games tr.even .sorting_1, #list-games tr.even .sorting_2, #list-games tr.even .sorting_3 { background-color: #F0D9B5; }
/*--------------------------------
    CHESS PART
---------------------------------*/
#chessboard {
    width: 400px;
    /*float: left;*/
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}
#moves {
    width: 250px;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.mytable {
    height: 360px !important;
    overflow-y: scroll;
    border: 1px solid #B58863;
    border-top: none;
}
#infos{
    display: inline-block;
    vertical-align: middle;
}
#players, #ev, #depths, #bestmove{
    margin: 10px;
    max-width:300px;
    text-align: center;
}
#players table, #ev table{
    border: 1px solid #B58863;
}
#players table tr td, #ev table tr td{
    text-align: center;
    vertical-align: middle;
}
#players table td:first-child, #ev table td:first-child{
    width:80px;
    background-color: #F0D9B5;
}
#players table td:not(:nth-last-child(2) :first-child), #ev table td:not(:first-child){
    width:150px;
}
#ev tbody tr td, #players table tr td, .mytable table tr td{
    border-top: 1px solid #B58863;
}
#players tr td:nth-last-child(2) {
    border: none;
}
#players tr:first-child td:nth-last-child(2) i {
    position: absolute;
    margin-top: 11px;
    margin-left: -7px;
}
#depths ul{
    text-align: center;
}
#depths .caret{
    margin-top: 0px;
}
#bestmove {
    text-align: center;
}
.mytable tr td{
    height: 10px;
}
/*table tr td{
    line-height: 10px;
    border-color: 1px solid #B58863;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
.mytable table tr td:first-child {
    width: 15px;
    background-color: #F0D9B5;
    text-align: justify;
}
.mytable table td p{
    font-size: x-small;
    float: right;
    color: grey;
}
.buttons {
    text-align: center;
    margin: 10px;
}
.buttons button {
    margin-left: -4px;
    background-color: #F0D9B5;
    border-color:  #B58863;
}

/*--------------------------------
    THEME
---------------------------------*/

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
